# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
build/
dist/

# Poetry
.poetry/

# Docker
*.dockerignore
docker-compose.override.yml

# Secrets & local config
.env
.env.local
.env.*.local
*.key
*.pem
*.env

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db
.qodo

# New
ai_bi_backend.egg-info
app/gen_test_table_data.py
todos.md
uv.lock
test.db
